.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background: var(--stp-background-alpha_tertiary);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border-radius: var(--stp-button_radius);
  padding: 0.25em;
  z-index: 2;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  border: 1px solid var(--stp-foreground-alpha_quarternary);

  &.ne, &.se { left: -0.25em; }
  &.nw, &.sw { right: -0.25em; }
  &.ne, &.nw { bottom: 100%; }
  &.se, &.sw { top: 100%; }
}

.item {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  padding: 0.2em 0.5em 0.2em 0.25em;
  border-radius: var(--stp-button_radius);
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;

  &.active {
    background: var(--stp-background);
    border-color: var(--stp-foreground-alpha_tertiary);
  }

  &:hover:not(.active) {
    background: var(--stp-foreground-alpha_quarternary);
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.9em;
  flex-shrink: 0;
}

.item:not(:has(.icon)) {
  span {
    padding-left: 2em;
  }
}
