.dropdown {
  position: absolute;
  font-size: 0.9em;
  text-align: left;
  background: var(--stp-background-alpha_secondary);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: var(--stp-button_radius);
  padding: 0.5em;
  z-index: 2;

  &::before {
    content: "";
    background: var(--stp-foreground-alpha_quaternary);
    border-radius: var(--stp-button_radius);
    position: absolute;
    pointer-events: none;
    top: 0.25em;
    left: 0.25em;
    width: calc(100% - 0.5em);
    height: calc(100% - 0.5em);
  }

  > div {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    margin-top: 0.25em;
    padding: 0.2em calc(0.25em + (var(--stp-button_radius) / 2));
    border-radius: calc(var(--stp-button_radius) * 0.9);

    &:first-child {
      margin-top: 0;
    }

    .icon {
      font-size: 0.9em;

      svg {
        fill: var(--stp-foreground);
      }
    }

    .text {
      padding-left: 0.5em;
      color: var(--stp-foreground);
    }

    &.active {
      background: var(--stp-background);
    }

    &:hover:not(.active) {
      background: var(--stp-foreground-alpha_secondary);

      .text {
        color: var(--stp-background);
      }

      .icon svg {
        fill: var(--stp-background);
      }
    }
  }
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  margin: 0.2em 0;

  svg {
    width: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.active {
  background: var(--stp-background);
}
