.component {
  position: relative;

  &.ne,
  &.se {
    & .dropdown {
      left: -0.25em;
    }
  }

  &.nw,
  &.sw {
    & .dropdown {
      right: -0.25em;
    }
  }

  &.ne,
  &.nw {
    & .dropdown {
      bottom: 100%;
    }
  }

  &.se,
  &.sw {
    & .dropdown {
      top: 100%;
    }
  }
}
