.component {
  position: relative;
  .button {
    cursor: pointer;
    display: inline-block;
    padding: 0.25em calc(0.25em + (var(--stp-button_radius) / 2));
    border-radius: var(--stp-button_radius);
    background: var(--stp-background);
    color: var(--stp-foreground-alpha_secondary);
    vertical-align: top;

    &:hover {
      background: var(--stp-foreground-alpha_quarternary);

      .text {
        color: var(--stp-foreground);
      }
      .icon svg {
        fill: var(--stp-foreground);
      }
    }

    &.open {
      background: var(--stp-background);
      border-radius: 0;
      border-top: 3px solid var(--stp-foreground-alpha_quarternary);
      padding-top: calc(0.25em - 3px);
      .icon svg {
        width: 1em;
      }
    }
  }

  .icon,
  .text {
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    margin: 0.2em 0;
  }

  .text:not(:empty) {
    padding-left: 0.25em;
  }

  .icon svg {
    width: 1.5em;
    fill: var(--stp-foreground-alpha_secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 0.25em);
    left: 0;
    font-size: 0.9em;
    text-align: left;
    background: var(--stp-foreground-alpha_quarternary);
    border-radius: var(--stp-button_radius);
    padding: 0.25em;

    > div {
      cursor: pointer;
      white-space: nowrap;
      &:first-child {
        margin-top: 0;
      }
      margin-top: 0.25em;
      padding: 0.2em calc(0.25em + (var(--stp-button_radius) / 2));
      border-radius: calc(var(--stp-button_radius) * 0.9);
      .icon {
        font-size: 0.9em;
        svg {
          fill: var(--stp-foreground-alpha_secondary);
        }
      }
      .text {
        padding-left: 0.5em;
        color: var(--stp-foreground-alpha_secondary);
      }
      &.active {
        background: var(--stp-background);
        .text {
          color: var(--stp-foreground);
        }
        .icon svg {
          fill: var(--stp-foreground);
        }
      }
      &:hover:not(.active) {
        background: var(--stp-foreground-alpha_secondary);
        .text {
          color: var(--stp-background);
        }
        .icon svg {
          fill: var(--stp-background);
        }
      }
    }
  }
}
