.component {
  position: relative;
  .button {
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background: var(--stp-background);
    color: var(--stp-muted);
    vertical-align: top;

    &:hover {
      background: var(--stp-background_active);
      color: var(--stp-foreground);

      .icon svg {
        fill: var(--stp-foreground);
      }
    }
  }

  .icon,
  .text {
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    margin: 0.2em 0;
  }

  .text:not(:empty) {
    padding-left: 0.25em;
  }

  .icon svg {
    width: 1.5em;
    fill: var(--stp-muted);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dropdown {
    position: absolute;
    top: calc(100% + 0.25em);
    left: 0;
    font-size: 0.9em;
    text-align: left;
    background: var(--stp-background_active);
    // border: 1px solid var(--stp-background_active);
    border-radius: 0.5em;
    padding: 0.25em;

    > div {
      cursor: pointer;
      white-space: nowrap;
      padding: 0.15em 0.25em;
      border-radius: 0.25em;
      .icon {
        font-size: 0.9em;
        svg {
          fill: var(--stp-muted);
        }
      }
      .text {
        padding-left: 0.5em;
        color: var(--stp-muted);
      }
      &.active {
        opacity: 0.3;
        // border: 1px dotted var(--stp-muted);
        background: var(--stp-background);
        .text {
          color: var(--stp-foreground);
        }
        .icon svg {
          fill: var(--stp-foreground);
        }
      }
      &:hover:not(.active) {
        background: var(--stp-background);
        .text {
          color: var(--stp-foreground);
        }
        .icon svg {
          fill: var(--stp-foreground);
        }
      }
    }
  }
}
