.button {
  cursor: pointer;
  border: none;
  font: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: var(--stp-button-radius);
  background: var(--stp-background);
  color: var(--stp-foreground-alpha-secondary);
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    background-color: var(--stp-foreground-alpha-quaternary);
    color: var(--stp-foreground);
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }
}
